.window {
	display: none;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.tip {
	width: 100%;
	height: auto;
	position: absolute;
	top: 30%;
	text-align: center;
	background: none;
}

body {
	margin: 0px;
}