<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!--注册分页拦截器-->
	<plugins>
		<plugin interceptor="com.travis.dao.interceptor.PageInterceptor"/>
	</plugins>
</configuration>